.password-output-container {
    width: 70%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
}

.password-input {
    flex: 1;
    padding: 20px;
    width: 80%;
    height: 20px;
    border: 1px solid #afafaf;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

.password-input:focus {
    border-color: transparent;
}

.copy-button {
    background-color: #ff8935;
    border: none;
    color: white;
    padding: 22px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.copy-button:hover {
    background-color: #ff6a00;
}

.copy-button:disabled {
    background-color: #a3a3a3;
    cursor: not-allowed;
}
